@{
    ViewBag.Title = "bgallery";
    Layout = "~/Views/Shared/_sub1Layout.cshtml";
}

<div class="clear"></div>
<div id="main">
    <!-- Inner Main -->
    <div id="innermain">
        <div class="container">
            <div class="row">
                <div class="breadcrumb">
                    <div class="subtitle"><h1 class="pix-page-title">Behind the Scenes</h1></div>							 								<div class="breadcrumbs"><ul><li><a href="../../">Home</a></li><li class="pix-active">Behind the Scenes</li></ul></div>
                </div>                                        	 		<div class="col-md-12">
                    <div class="element_size_100 page_listing">
                        <div class="gallerysec gallery">
                            <ul class="gallery-four-col lightbox clearfix">
                                <li>
                                    <figure>
                                        <img src="../images/2.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/2.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/6.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/6.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/4.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/4.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/5.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/5.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/6.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/6.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/2.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/2.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/6.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/6.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/4.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/4.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/5.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/5.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/6.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/6.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/2.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/2.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/6.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/6.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/4.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/4.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../images/5.jpg" alt="">
                                        <figcaption>
                                            <a data-rel="prettyPhoto[gallery1]" href="../images/5.jpg" data-title="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Inner Main -->
</div>
<!-- Twitter Widget -->
<div class='twitter_sign'></div>
