@{
    ViewBag.Title = "fixtures";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}

<div class="breadcrumb">
    <div class="subtitle"><h1 class="pix-page-title">Fixtures</h1></div>							 								<div class="breadcrumbs"><ul><li><a href="../../">Home</a></li><li class="pix-active">Fixtures</li></ul></div>
</div>
<div class="col-md-9">
    <div class=" element_size_100">
        <div class="tabs horizontal">
            <div class="fluid-tab-horizontal">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#">BPL</a>
                    </li>
                    <li>
                        <a href="#">UCL</a>
                    </li>
                    <li>
                        <a href="#">LA LIGA</a>
                    </li>
                    <li>
                        <a href="#">Bundes Liga</a>
                    </li>
                    <li>
                        <a href="#">Serie A</a>
                    </li>

                </ul>
            </div>
            <div class="tab-content pix-content-wrap">
                <div id="tab11" class="tab-pane fade in  active">
                    <div class="featured-event">
                        <div class="pix-sc-team">
                            <ul>
                                <li>
                                    <figure>
                                        <img alt="" src="../../images/madrid.gif">

                                        <figcaption>
                                            Real Madrid
                                        </figcaption>
                                    </figure>
                                </li>
                                <li>
                                    <span class="vs">
                                        VS
                                    </span>
                                    
                                    
                                </li>
                                <li>
                                    <figure>
                                        <img alt="" src="../../images/barcelona.jpg" style="height:120px;width:120px">

                                        <figcaption>
                                             Barcelona
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom-event-panel">
                            <span class="match-category cat-neutral">n</span>                                    <ul class="post-options">
                                <li><i class="fa fa-calendar"></i><time>November 22, 2015</time></li>
                                <li><i class="fa fa-clock-o"></i>Kick-of                                            10:30                                        </li>
                                <li><i class="fa fa-map-marker"></i>Trading Estate, Benfleet, Essex</li>
                            </ul>

                            
                        </div>
                    </div>
                    <div class="event event-listing">
                        <article>
                            <div class="calendar-date">
                                <span>Nov</span>
                                <time datetime="2014-12-01">22</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover"> Madrid <span>VS</span> Barcelona </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:30</li>
                                    <li><i class="fa fa-map-marker"></i>Trading Estate, Benfleet, Essex</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Aug</span>
                                <time datetime="2014-12-01">05</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Madrid <span>VS</span> Barcelona </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>Cleator, Cumbria, UK</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Oct</span>
                                <time datetime="2014-12-01">26</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Madrid <span>VS</span> Barcelona </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>Dartford, Greenhithe, newland</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Dec</span>
                                <time datetime="2014-12-01">15</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Barcelona<span>VS</span> Madrid </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 08:45</li>
                                    <li><i class="fa fa-map-marker"></i>2843 Sherman Ave Camden, india</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jun</span>
                                <time datetime="2014-12-01">30</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Madrid <span>VS</span> Barcelona </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:45</li>
                                    <li><i class="fa fa-map-marker"></i>South Lanarkshire, UK</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Aug</span>
                                <time datetime="2014-12-01">25</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Barcelona <span>VS</span> Madrid </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>West Yorkshire , UK</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Sep</span>
                                <time datetime="2014-12-01">28</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Barccelona <span>VS</span> Madrid </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:00</li>
                                    <li><i class="fa fa-map-marker"></i>Harlow, Essex , funford</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Aug</span>
                                <time datetime="2014-12-01">29</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Barcelona <span>VS</span> Madrid </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:30</li>
                                    <li><i class="fa fa-map-marker"></i>County Durham , UK</li>
                                </ul>

                                
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jul</span>
                                <time datetime="2014-12-01">30</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Barcelona <span>VS</span> Madrid</a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 08:00</li>
                                    <li><i class="fa fa-map-marker"></i>Cambridgeshire, UK</li>
                                </ul>

                                
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
