@{
    ViewBag.Title = "results";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}

<div class="breadcrumb">
    <div class="subtitle"><h1 class="pix-page-title">Results</h1></div>							 								<div class="breadcrumbs"><ul><li><a href="../../">Home</a></li><li class="pix-active">Results</li></ul></div>
</div>                                        	 		<div class="col-md-9"> <label style="color:white;font-size:24px"> Click </label> <button type="button" class="btn btn-primary">Here</button> <label style="color:white;font-size:24px"> if you want to upload results. </label> <br/> <br/>
    <div class=" element_size_100">

        <div class="tabs horizontal">
            <div class="tab-content pix-content-wrap">
                <div id="tab11" class="tab-pane fade in  active">
                    <div class="event event-listing">
                        <article>
                            <div class="calendar-date">
                                <span>Mar</span>
                                <time datetime="2014-12-01">04</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Metropiliten CLub <span>VS</span> Arsenal Club </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:45</li>
                                    <li><i class="fa fa-map-marker"></i>South Lanarkshire, UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>3-2</big>
                                    </span>
                                    <p>win</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Feb</span>
                                <time datetime="2014-12-01">20</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Soccer Club <span>VS</span> Metropiliten CLub </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:30</li>
                                    <li><i class="fa fa-map-marker"></i>Trading Estate, Benfleet, Essex</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>2-3</big>
                                    </span>
                                    <p>Lose</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Feb</span>
                                <time datetime="2014-12-01">18</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">St Johnstone <span>VS</span> City Club </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 08:45</li>
                                    <li><i class="fa fa-map-marker"></i>2843 Sherman Ave Camden, india</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>3-2</big>
                                    </span>
                                    <p>win</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Feb</span>
                                <time datetime="2014-12-01">09</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Arsenal Club <span>VS</span> Rochdale </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>Cleator, Cumbria, UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>3-4</big>
                                    </span>
                                    <p>Lose</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Feb</span>
                                <time datetime="2014-12-01">05</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Raith Rovers <span>VS</span> St Johnstone </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>Crescent, Avoch, Highland  UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>3-1</big>
                                    </span>
                                    <p>Win</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Feb</span>
                                <time datetime="2014-12-01">02</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">City Club <span>VS</span> Park Rangers </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>West Yorkshire , UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>5-3</big>
                                    </span>
                                    <p>win</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jan</span>
                                <time datetime="2014-12-01">26</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">King Rob Club <span>VS</span> Manchester United </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 08:00</li>
                                    <li><i class="fa fa-map-marker"></i>Cambridgeshire, UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>6-8</big>
                                    </span>
                                    <p>Lose</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jan</span>
                                <time datetime="2014-12-01">19</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Manchester United <span>VS</span> Soccer Club </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-neutral">n</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:30</li>
                                    <li><i class="fa fa-map-marker"></i>County Durham , UK</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>10-5</big>
                                    </span>
                                    <p>win</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jan</span>
                                <time datetime="2014-12-01">12</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Park Rangers <span>VS</span> Raith Rovers </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-away">a</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 10:00</li>
                                    <li><i class="fa fa-map-marker"></i>Harlow, Essex , funford</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>2-1</big>
                                    </span>
                                    <p>Lose</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="calendar-date">
                                <span>Jan</span>
                                <time datetime="2014-12-01">05</time>
                            </div>
                            <div class="text">
                                <div class="top-event">
                                    <h2 class="pix-post-title">
                                        <a href="#" class="pix-hover">Rochdale <span>VS</span> King Rob Club </a>
                                    </h2>
                                </div>

                                <span class="match-category cat-home">h</span>                                        <ul class="post-options">
                                    <li><i class="fa fa-clock-o"></i>Kick-of 12:00</li>
                                    <li><i class="fa fa-map-marker"></i>Dartford, Greenhithe, newland</li>
                                </ul>
                                <div class="match-result">
                                    <span>
                                        <big>6-5</big>
                                    </span>
                                    <p>win</p>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
