
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin|Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="../content/admin/bootstrap/css/bootstrap.min.css" />
    <link href="../content/admin/single-page-admin/main.css" rel="stylesheet">
    <link href="../content/admin/single-page-admin/font-style.css" rel="stylesheet">
    <link href="../content/admin/single-page-admin/register.css" rel="stylesheet">

    <script src="../js/admin/jquery-1.10.2.min.js"></script>

    <script src="../js/admin/single-page-admin/bootstrap.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

</head>
<body>

    <!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../images/admin/shared/single-page-admin/logo30.png" alt=""> BLOCKS Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../../Dashboard/dashboard"><i class="icon-home icon-white"></i> Home</a></li>
                    <li><a href="../../Aleagues/aleagues"><i class="icon-th icon-white"></i> Leagues </a></li>
                    <li><a href="../../Afixtures/afixtures"><i class="icon-th icon-white"></i> Fixtures </a></li>
                    <li><a href="../../Aresults/aresults"><i class="icon-th icon-white"></i> Results </a></li>
                    <li><a href="../../Ateams/ateams"><i class="icon-th icon-white"></i> Teams/Clubs </a></li>
                    <li><a href="../../Anews/anews"><i class="icon-th icon-white"></i> News </a></li>
                    <li class="active"><a href="../../Latest/latest"><i class="icon-th icon-white"></i> Latest Match </a></li>

                    <li><a href="../../Auser/auser"><i class="icon-user icon-white"></i> Users</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6">


                <div class="container">
                    <div class="row">
                        table, th, td {
                        border: 1px solid lightgrey;
                        }
                        <div class="col-lg-8">
                            <div class="register-info-wraper">
                                <div id="register-info">
                                    <div class="cont2">
                                        <!-- /thumbnail -->
                                        <h2>Latest Match</h2>
                                    </div>
                                    <table style="background-color:white;opacity:0.7;width:100%" cell-padding="10px">
                                        <tr>
                                            <th></th>
                                            <th>Sr No.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Email</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> </td>
                                            <td>1</td>
                                            <td>Moiz</td>
                                            <td>gallantTakerx</td>
                                            <td>12345678</td>
                                            <td>moiz@abc.com</td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> </td>
                                            <td>1</td>
                                            <td>Moiz</td>
                                            <td>gallantTakerx</td>
                                            <td>12345678</td>
                                            <td>moiz@abc.com</td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> </td>
                                            <td>1</td>
                                            <td>Moiz</td>
                                            <td>gallantTakerx</td>
                                            <td>12345678</td>
                                            <td>moiz@abc.com</td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> </td>
                                            <td>1</td>
                                            <td>Moiz</td>
                                            <td>gallantTakerx</td>
                                            <td>12345678</td>
                                            <td>moiz@abc.com</td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> </td>
                                            <td>1</td>
                                            <td>Moiz</td>
                                            <td>gallantTakerx</td>
                                            <td>12345678</td>
                                            <td>moiz@abc.com</td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4 col-lg-4">
                            <div id="register-wraper">
                                <form id="register-form" class="form">
                                    <legend>Add New User</legend>

                                    <div class="body">
                                        <!-- first name -->
                                        <label for="name">First name</label>
                                        <input name="name" class="input-huge" type="text">
                                        <!-- last name -->
                                        <label for="surname">Last name</label>
                                        <input name="surname" class="input-huge" type="text">
                                        <!-- username -->
                                        <label>Username</label>
                                        <input class="input-huge" type="text">
                                        <!-- email -->
                                        <label>E-mail</label>
                                        <input class="input-huge" type="text">
                                        <!-- password -->
                                        <label>Password</label>
                                        <input class="input-huge" type="text">

                                    </div>

                                    <div class="footer">
                                        <label class="checkbox inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> I agree with the terms &amp; conditions
                                        </label>
                                        <button type="submit" class="btn btn-success">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>




            </div>



        </div>
    </div>

    <div id="footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <p><img src="../images/admin/shared/single-page-admin/logo.png" alt=""></p>
                    <p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footerwrap -->
    <!-- PBAFooter START -->

</body>    <!-- PBAFooter END -->
<!-- Mirrored from www.prepbootstrap.com/bootstrap-theme/single-page-admin/preview/user.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Sep 2015 05:27:11 GMT -->
</html>