@{
    ViewBag.Title = "leagues";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}

<div class="breadcrumb">
    <div class="subtitle"><h1 class="pix-page-title">Leagues</h1></div>							 								<div class="breadcrumbs"><ul><li><a href="../../">Home</a></li><li class="pix-active">Leagues</li></ul></div>
</div>                                        	 		<div class="col-md-9">
    <div class="element_size_100">

        <div class="pix-blog blog-large ">

            <!-- Blog Start -->
            <!-- Blog Post Start -->
            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt=""></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="#" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            <li>
                                <span>By:  </span><a href="#"> Soccer Club</a>,
                            </li>
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt=""></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="#" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            <li>
                                <span>By:  </span><a href="#"> Soccer Club</a>,
                            </li>
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>


                        </ul>

                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt=""></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="#" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            <li>
                                <span>By:  </span><a href="#"> Soccer Club</a>,
                            </li>
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>


                        </ul>

                    </div>
                </div>
            </article>

            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt=""></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="#" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            <li>
                                <span>By:  </span><a href="#"> Soccer Club</a>,
                            </li>
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>


                        </ul>

                    </div>
                </div>
            </article>

            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt=""></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="#" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            <li>
                                <span>By:  </span><a href="#"> Soccer Club</a>,
                            </li>
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>


                        </ul>

                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog End -->

        </div>
    </div>
</div>
