@{
    ViewBag.Title = "news";
    Layout = "~/Views/Shared/_subLayout.cshtml";
    
}

<div class="breadcrumb">
    <div class="subtitle"><h1 class="pix-page-title">Latest News </h1></div>							 								<div class="breadcrumbs"><ul><li><a href="../../">Home</a></li><li class="pix-active">Latest News From Our Club</li></ul></div>
</div>                                        	 		<div class="col-md-9">
    <div class="element_size_100">

        <div class="pix-blog blog-medium ">

            <!-- Blog Start -->
            <!-- Blog Post Start -->
            <article class="post-118 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-tennis tag-golf tag-kick tag-player tag-sports tag-stadium">
                <figure><img src="../images/varaneMour.jpg" alt="" style="height:150px;width:200px"></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="../../News/news" class="pix-colrhvr">Mourinho sings Varane&#8217;s praises.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-122 post type-post status-publish format-standard has-post-thumbnail hentry category-boxing category-football category-premier-league tag-golf tag-kick tag-player tag-sports">
                <figure><img src="../images/moyes.jpg" alt="" style="height:150px;width:200px"></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="../../News/news" class="pix-colrhvr">Moyes scouts Griezmann and Pogba.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-119 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-premier-league tag-golf tag-player tag-sports tag-stadium">
                <figure><img src="../images/wenger.jpeg" alt="" style="height:150px;width:200px"></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="../../News/news" class="pix-colrhvr">Wenger is a &#8216;magician&#8217;, says Nasri.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-120 post type-post status-publish format-standard has-post-thumbnail hentry category-championship category-football category-golf tag-player tag-sports tag-stadium">
                <figure><img src="../images/wenger1.jpg" alt="" style="height:150px;width:200px"></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="../../News/news" class="pix-colrhvr">Wenger calls for FA Cup to make way.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog Post Start -->
            <article class="post-123 post type-post status-publish format-standard has-post-thumbnail hentry category-boxing category-football category-golf tag-player tag-sports tag-stadium">
                <figure><img src="../images/macheda.jpg" alt="" style="height:150px;width:200px"></figure>
                <div class="text">
                    <h2 class="pix-post-title"><a href="../../News/news" class="pix-colrhvr">Macheda bemused by Moyes exclusion.</a></h2>
                    <p>Despicable briefly jeepers much roughly sped ouch in one away supportive grateful porcupine much less darn naughtily like keen python far goodness manatee convenient hey less darn thought far the as hawk ocelot regardless the cheerfully and fallibly besid</p>
                    <div class="blog-bottom">
                        <ul class="post-options">
                            
                            <li>
                                <time datetime="07-03-14">March 7, 2014</time>
                            </li>
                            
                        </ul>
                        
                    </div>
                </div>
            </article>
            <!-- Blog Post End -->
            <!-- Blog End -->

        </div>
        <nav class='pagination'>
            <ul>
                <li>
                    <span class='active'>1</span>
                </li>
                <li><a href='#'>2</a></li>
                <li><a class='next' href='#'>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>